{% include "myapp/base.html" %}

{% block css %}
{% load static %}
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/profile_style.css' %}"> -->
{% endblock %}

{% block content %}
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  	<div class="container">
  		<div class="row">
            <form action="">
                <div class="row">
                    <div class="col-md-10">
                        <input type="url" id="typeURL" name="url" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="form-control"value="Submit" />
                    </div>
                </div>
            </form> 
		</div>
        <div class="row mt-4">
            <div class="row no-gutters">
                {% for key, value in tags.items %}
                <div class="col-12 col-sm-6 col-md-3">{{key}}</div>
                <div class="col-6 col-md-9">{{value}}</div>
                {% endfor %}
            </div>
        </div>
	</div>
{% endblock %}