{% include "myapp/base.html" %}

{% block css %}
{% load static %}
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/profile_style.css' %}"> -->
{% endblock %}

{% block content %}
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  	<div class="container">
        {% if not response_body %}
  		<div class="row">
            <form action="">
                <div class="row">
                    <div class="col-md-10">
                        <input type="url" id="typeURL" name="url" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="form-control"value="Submit" />
                    </div>
                </div>
            </form> 
		</div>
        {% endif %}
        <div class="row mt-4">
            <div class="row no-gutters">
                {% for key, value in tags.items %}
                    <th><div class="col-12 col-sm-6 col-md-3">{{key}}:</div></th>
                    <td><div class="col-6 col-md-9">{{value}}</div></td>
                {% endfor %}
            </div>
        </div>
        {% if tags %}
        <div class="row mt-4">
            <form action="{% url 'result' %}" method="post">{% csrf_token %}
                <!-- <input type="text" name="{{tags.items}}"/> -->
                <input type="submit" class="form-control" name="{{tags}}" value="click up data" />
            </form>
        </div>
        {% endif %}

        {% if error_message %}
            <div class="alert alert-danger alert-dismissible fade show">
                <strong>Error!</strong> Please Provide Upwork Job Detail Url.
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endif %}

        {% if response_body %}
        <div class="container">
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Success!</strong> {{ response_body }}
            </div>
        </div>
        {% endif %}
        <!-- <button>click up button</button> -->
	</div>
{% endblock %}